# Example Code

In [1]:
from src.tabulator import LDaCATabulator

In [2]:
# COOEE corpus url
zip_url = "https://data.ldaca.edu.au/api/object/arcp%3A%2F%2Fname%2Chdl10.26180~23961609.zip"

ldac_tb = LDaCATabulator(zip_url)

#ldac_tb.get_text(include_metadata=False)

100%|██████████| 8078/8078 [00:08<00:00, 1002.44it/s]

In [3]:
ldac_tb.get_people()

100%|██████████| 2439/2439 [00:22<00:00, 109.24it/s]

,description,local:arrivalDateEstimateStart,homeLocation,birthPlace,local:yearsLivedInAustralia,local:socialClass,socialClass,name,local:arrivalDate,local:birthDateEstimateStart,prov:specializationOf,gender,local:birthDateEstimateEnd,birthDate,local:arrivalDateEstimateEnd,ldac:age
0,None,None,None,None,None,None,None,Clemens W. A. Fritz,None,None,None,None,None,None,None,None
1,None,1788,None,Great Britain,0,Upper Class,None,"Philip, Arthur - status 1788 text #1-001",1788,1738,"Philip, Arthur",m,1738,1738,1788,50
2,None,1788,None,Great Britain,0,None,None,"Philip, Arthur",1788,1738,None,m,1738,1738,1788,None
3,None,None,England,None,None,None,Upper Middle Class,1-001 Recipient,None,None,None,m,None,None,None,None
4,None,1788,None,Great Britain,0,Upper Class,None,"Philip, Arthur - status 1788 text #1-002",1788,1738,"Philip, Arthur",m,1738,1738,1788,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434,None,1844,None,South Australia,nv,Upper Middle Class,None,"Downer, John William - status 1898 text #4-423",None,1844,"Downer, John William",m,1844,1844,1844,54
2435,None,1844,None,South Australia,nv,None,None,"Downer, John William",None,1844,None,m,1844,1844,1844,None
2436,None,1850,None,South Australia,nv,Upper Middle Class,None,"Kingston, Charles Cameron - status 1898 text #...",None,1850,"Kingston, Charles Cameron",m,1850,1850,1850,48
2437,None,1850,None,South Australia,nv,None,None,"Kingston, Charles Cameron",None,1850,None,m,1850,1850,1850,None
2438,None,1864,None,New South Wales,nv,Upper Middle Class,None,"Paterson, Andrew Barton - status 1895 text #4-425",None,1864,"Paterson, Andrew Barton",m,1864,1864,1864,31

In [7]:
import json
with open("./config/config.json") as f:
            config = json.load(f)

In [9]:
config['tables']['Person'].get('properties', [])

['description',
 'local:arrivalDateEstimateStart',
 'homeLocation',
 'birthPlace',
 'local:yearsLivedInAustralia',
 'local:socialClass',
 'socialClass',
 'name',
 'local:arrivalDate',
 'local:birthDateEstimateStart',
 'prov:specializationOf',
 'gender',
 'local:birthDateEstimateEnd',
 'birthDate',
 'local:arrivalDateEstimateEnd',
 'ldac:age']