# Example Code

In [1]:
from src.tabulator import LDaCATabulator

In [2]:
zip_url = "https://data.ldaca.edu.au/api/object/arcp%3A%2F%2Fname%2Chdl10.25949~24769173.v1.zip"

ldac_tb = LDaCATabulator(zip_url)

df = ldac_tb.get_text()

100%|██████████| 6423/6423 [00:04<00:00, 1539.22it/s]

RepositoryObject.hasPart > 10 relations
RepositoryObject.ldac:speaker > 10 relations
RepositoryObject.hasPart > 10 relations

100%|██████████| 558/558 [00:12<00:00, 45.65it/s]

In [6]:
df = ldac_tb.get_people()

100%|██████████| 753/753 [00:03<00:00, 197.71it/s]

In [7]:
df

,entity_id,name,education,occupation,role,age,gender,firstName,lastName,birthplace,mothertongue,nationality,otherlanguages
0,http://nla.gov.au/nla.party-556106,Pam Peters,None,None,None,None,None,None,None,None,None,None,None
1,"arcp://name,hdl10.25949~24769173.v1/speaker/S1...",None,Tafe,Pensioner,speaker,48,male,None,None,None,None,None,None
2,"arcp://name,hdl10.25949~24769173.v1/speaker/S1...",None,MA,Teacher,speaker,28,male,None,None,None,None,None,None
3,"arcp://name,hdl10.25949~24769173.v1/speaker/S1...",None,None,Pensioner,speaker,70's,male,None,None,None,None,None,None
4,"arcp://name,hdl10.25949~24769173.v1/speaker/S1...",None,BEng,Engineer,speaker,45-50,male,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,"arcp://name,hdl10.25949~24769173.v1/speaker/S2...",None,None,None,speaker,None,female,None,None,None,None,None,None
749,"arcp://name,hdl10.25949~24769173.v1/speaker/S2...",None,None,None,speaker,None,female,None,None,None,None,None,None
750,"arcp://name,hdl10.25949~24769173.v1/speaker/S2...",None,None,None,speaker,None,female,None,None,None,None,None,None
751,"arcp://name,hdl10.25949~24769173.v1/speaker/S2...",None,HSC,None,speaker,40-50,male,None,None,None,None,None,None
752,"arcp://name,hdl10.25949~24769173.v1/speaker/S2...",None,None,None,speaker,None,None,None,None,None,None,None,None