# Example Code

In [1]:
from src.tabulator import LDaCATabulator

In [2]:
# COOEE corpus url
zip_url = "https://data.ldaca.edu.au/api/object/arcp%3A%2F%2Fname%2Chdl10.26180~23961609.zip"

ldac_tb = LDaCATabulator(zip_url)

#ldac_tb.get_text(include_metadata=False)

100%|██████████| 8078/8078 [00:07<00:00, 1022.30it/s]

In [3]:
ldac_tb.get_people()

100%|██████████| 2439/2439 [00:20<00:00, 116.36it/s]

,entity_id,@type,name,birthDate,local:birthDateEstimateStart,local:birthDateEstimateEnd,birthPlace,birthPlace_id,gender,local:arrivalDate,...,ldac:age,local:socialClass,local:socialClass_id,prov:specializationOf,prov:specializationOf_id,socialClass,socialClass_id,homeLocation,homeLocation_id,description
0,https://www.peterlang.com/search?f_0=author&q_...,Person,Clemens W. A. Fritz,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"arcp://name,hdl10.26180~23961609/author/Philip...",Person,"Philip, Arthur - status 1788 text #1-001",1738,1738,1738,Great Britain,#place_GB,m,1788,...,50,Upper Class,#SocialClass_I,"Philip, Arthur","arcp://name,hdl10.26180~23961609/author/Philip...",None,None,None,None,None
2,"arcp://name,hdl10.26180~23961609/author/Philip...",Person,"Philip, Arthur",1738,1738,1738,Great Britain,#place_GB,m,1788,...,None,None,None,None,None,None,None,None,None,None
3,"arcp://name,hdl10.26180~23961609/recipient/1-001",Person,1-001 Recipient,None,None,None,None,None,m,None,...,None,None,None,None,None,Upper Middle Class,#SocialClass_II,England,#place_GB-E,None
4,"arcp://name,hdl10.26180~23961609/author/Philip...",Person,"Philip, Arthur - status 1788 text #1-002",1738,1738,1738,Great Britain,#place_GB,m,1788,...,50,Upper Class,#SocialClass_I,"Philip, Arthur","arcp://name,hdl10.26180~23961609/author/Philip...",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434,"arcp://name,hdl10.26180~23961609/author/Downer...",Person,"Downer, John William - status 1898 text #4-423",1844,1844,1844,South Australia,#place_A-SA,m,None,...,54,Upper Middle Class,#SocialClass_II,"Downer, John William","arcp://name,hdl10.26180~23961609/author/Downer...",None,None,None,None,None
2435,"arcp://name,hdl10.26180~23961609/author/Downer...",Person,"Downer, John William",1844,1844,1844,South Australia,#place_A-SA,m,None,...,None,None,None,None,None,None,None,None,None,None
2436,"arcp://name,hdl10.26180~23961609/author/Kingst...",Person,"Kingston, Charles Cameron - status 1898 text #...",1850,1850,1850,South Australia,#place_A-SA,m,None,...,48,Upper Middle Class,#SocialClass_II,"Kingston, Charles Cameron","arcp://name,hdl10.26180~23961609/author/Kingst...",None,None,None,None,None
2437,"arcp://name,hdl10.26180~23961609/author/Kingst...",Person,"Kingston, Charles Cameron",1850,1850,1850,South Australia,#place_A-SA,m,None,...,None,None,None,None,None,None,None,None,None,None
2438,"arcp://name,hdl10.26180~23961609/author/Paters...",Person,"Paterson, Andrew Barton - status 1895 text #4-425",1864,1864,1864,New South Wales,#place_A-NSW,m,None,...,31,Upper Middle Class,#SocialClass_II,"Paterson, Andrew Barton","arcp://name,hdl10.26180~23961609/author/Paters...",None,None,None,None,None